body {
    background: rgb(246, 246, 246) url('../img/background.JPG');
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    backdrop-filter: blur(3px);
}

@media(max-width: 991px){
    .sidebar{
        background-color: rgba(246, 246, 246, 0.8);
        backdrop-filter: blur(3px);
    }
}

.offcanvas-header{
    border-bottom-color: red;
}
.form-check-input{
    border: 2px solid #494a4b;
}

.form-menu{
    border: 2px solid #494a4b;
    border-radius: 10px;
}

.btn{
    background-color: #0eca24;
    border: 2px solid #0eca24;
    font-size: 13px;
    color:rgb(255, 255, 255);    
}
