{% extends "main/base.html" %}
{% load static %}

{% block content_left_col %}
   
    <div class="row">
      <h2>Фильтр</h2>
    </div>
    <div class="row">
      
    </div>
{% endblock content_left_col %}

{% block content %}
  {% for product in goods %}
    <div class='col-lg-4 col-md-6 p-4'>
      <div class="card">
        {% if product.image %}
          <img src="{{ product.image.url }}" class="card-img-top" alt="{{product.name}}">
        {% else %}
          <img src="{% static "main/img/image_not_foutd.jpg" %}" class="card-img-top" alt="{{product.name}}">
        {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">{{product.description}}</p>
            <a href="{% url "catalog:product" product.slug %}" class="btn btn-primary">Подробнее</a>
          </div>
      </div>
    </div>
  {% endfor %}
<!--Пагинация-->
  <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center pagination-lg">
    <li class="page-item {% if not goods.has_previous %} disabled {% endif %}">
      <a class="page-link" href="
      {% if goods.has_previous %}
      ?page={{goods.previous_page_number}}
      {% else %}
      #
      {% endif %}" aria-label="Previous">
      <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% for page in goods.paginator.page_range %}
    
      <li class="page-item {% if goods.number == page %} active {% endif %}">
        <a class="page-link" href="?page={{page}}">{{ page }}</a>
      </li>
    {% endfor %}
    
    <li class="page-item {% if not goods.has_next %} disabled {% endif %}">
      <a class="page-link" href="
      {% if goods.has_next %}
      ?page={{goods.next_page_number}}
      {% else %}
      #
      {% endif %}" aria-label="Next">
      <span aria-hidden="true">&raquo;</span>
      </a>
    </li> 
  </ul>
  </nav>
{% endblock content %}